#wrapper{
    display: grid;

    grid-template-areas: 
        "header"
        "article"
        "footer";
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    grid-area: header;
    background-color: lightblue;
    color: white;
    font-size: 14px;
    padding-right: 0;
}

header .left{
    float: left;
    padding-left: 1rem;
}

header .right{
    float: right;
    padding-right: 1rem;
}

/*Article*/
article{
    grid-area: article;
}

article h1{
    padding-left: 1rem;
}

article p{
    padding-left: 2rem;
    padding-right: 1rem;
}

/*Footer*/
footer{
    grid-area: footer;
    background-color: lightblue;
    color: white;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .left{
    float: left;
    padding-left: 1rem;
}

footer .right{
    float: right;
    padding-right: 1rem;
}

/*Links*/
a{
    text-decoration: none;
}

a:visited{
    color: white;
}

a:active{
    color: black
}

a:hover{
    color: lightskyblue;
}

a:link{
    color: white;
}

/*Image*/
img{
    padding-left: 2rem;
    margin-top: 0;
}

.imgdesc{
    margin-top: 0;
    padding-bottom: 2rem;
    width: 288px;
}

/*Placeholder text*/
article.placeholder{
    text-align: center;
    font-size: 32px;
}

p.placeholder{
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}

/*Big Screen*/
@media screen and (min-width: 615px){
    .footerdoc{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (min-width: 480px){
    header{
        font-size: 20px;
    }
}

@media screen and (min-width: 745px){
    header{
        font-size: 32px;
    }
}

@media screen and (min-width: 1000px){
    article p{
        padding-left: 2rem;
        padding-right: 30%;
    }
}