#wrapper{
    display: grid;

    grid-template-areas: 
        "header"
        "article"
        "footer";
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    grid-area: header;
    background-color: lightblue;
    color: white;
    font-size: 32px;
}

header .left{
    float: left;
    padding-left: 1rem;
}

header .right{
    float: right;
    padding-right: 1rem;
}

/*Article*/
article{
    grid-area: article;
}

article h1{
    padding-left: 1rem;
}

article p{
    padding-left: 2rem;
}

/*Footer*/
footer{
    grid-area: footer;
    background-color: lightblue;
    color: white;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .left{
    float: left;
    padding-left: 1rem;
}

footer .right{
    float: right;
    padding-right: 1rem;
}

/*Links*/
a{
    text-decoration: none;
}

a:visited{
    color: white;
}

a:active{
    color: black
}

a:hover{
    color: lightskyblue;
}

a:link{
    color: white;
}